extends ./template/template

block main
  section.hero.is-success
    .hero-body
      .container
        h1.title Bands & Artists
        h2.subtitle Feel free to modify or add new members to the list.
  //- actions
  section.section
    .container
      .tile.is-ancestor
        //- create
        .tile.is-6.is-parent          
          article.tile.is-child.notification#panel-create
            p.title Insert new ones!
            //- input
            .field              
              .control.has-icons-left
                input.input.is-medium(type="text", id="create-input", placeholder="New name...")
                span.icon.is-medium.is-left
                  i.fas.fa-plus-square
            //- button
            .field
              .control
                button.button.is-primary.is-medium.is-fullwidth#save Save changes
        //- search
        .tile.is-6.is-parent
          article.tile.is-child.notification#panel-search
            p.title What you're looking for? 
            //- input
            .field              
              .control.has-icons-left
                input.input.is-medium(type="text", id="search-input", placeholder="Type here...")
                span.icon.is-medium.is-left
                  i.fas.fa-search
            //- button
            .field
              .control
                button.button.is-primary.is-medium.is-fullwidth#search Search
  //- table
  section.section
    .container
      table.table.is-hoverable.is-fullwidth#table
        thead
          tr
            th #
            th Name
            th Edit
            th Delete
        tbody#band-data
  include ./blocks/modal  