extends ./template/template

block main
	section.hero.is-success
		.hero-body
			.container
				h1.title Welcome to Recify homepage
				h2.subtitle Here you can view the list of registered shows that you assisted.
	section.section
		.container
			table.table.is-hoverable.is-fullwidth#table
				thead
					tr
						th #
						th Date
						th Place
						th Band
						th Ticket
						th Delete
				tbody#recital-data