extends ./template/template

block main
	section.hero.is-success
		.hero-body
			.container
				h1.title Welcome to Recify homepage
				h2.subtitle Here you can view the list of registered shows that you assisted.
	section.section
		.container
			table.table.is-hoverable.is-fullwidth
				thead
					tr
						th #
						th Date
						th Band
						th Place
						th Ticket
				tbody#recital-data
					//- tr
					//- 	td 1
					//- 	td boom boom kid
					//- 	td niceto
					//- 	td YES
					//- tr
					//- 	td 2
					//- 	td shaila
					//- 	td groove
					//- 	td YES
					//- tr
					//- 	td 3
					//- 	td cucsifae
					//- 	td xxx
					//- 	td NO
					//- tr
					//- 	td 4
					//- 	td heredia
					//- 	td xxx
					//- 	td NO	