/* variables */
:root {
  --color-1: #b687f8;
  --color-2: #8be9fd;
  --color-3: #ff6cc1;
  --color-4: #f9b636;
}

/* table */

.container.loader-disc {
  display: none;
}

.container.empty-list {
  display: none;
}

.recital-table-container {
  overflow-x: overlay;
}

/* panels */

input[type='checkbox'].styled:checked + label:after {
  font-family: FontAwesome;
  content: '✔';
}

.section.panel-create h3,
.section.panel-create label {
  color: #fff;
}

.section.panel-create h3,
.section.actions h3 {
  font-size: 1.5rem;
}

.action-ancestor {
  flex-wrap: wrap;
}

.is-child.notification.date {
  background-color: var(--color-1);
}

.is-child.notification.band {
  background-color: var(--color-2);
}

.is-child.notification.place {
  background-color: var(--color-3);
}

.is-child.notification.ticket {
  background-color: var(--color-4);
}

.is-child.notification.bands-search {
  background-color: var(--color-2);
}

.is-child.notification.places-search {
  background-color: var(--color-3);
}

/* hero */

.hero-body {
  padding-top: 75px;
  padding-bottom: 75px;
  background-position: center center;
  background-size: cover;
}

.hero-body.recital {
  background-image: url('../img/recital.jpg');
}

.hero-body.band {
  background-image: url('../img/band.jpg');
}

.hero-body.place {
  background-image: url('../img/place.jpg');
}

/* navbar */
.navbar {
  padding-top: 100px;
  height: 56px;
}

.icon-brand {
  margin-right: 5px;
}

.navbar-item.login,
.navbar-item.user-container {
  display: none;
}

.user-name figure {
  margin-right: 10px;
}

.user-avatar {
  border-radius: 50%;
  margin-right: 5px;
}
