.container.loader-disc {
  display: none;
}

.recital-table-container {
  overflow-x: overlay;
}

input[type='checkbox'].styled:checked + label:after {
  font-family: FontAwesome;
  content: '✔';
}

.section.panel-create h3,
.section.actions h3 {
  font-size: 1.5rem;
}
