footer.footer.is-bold
  .content.has-text-centered
    p
      strong Recify 
      |by Mauro Ezequiel Frete
    a(href="https://github.com/mauroef" target="_blank" class="git-link")
      .fa-2x
        i.fab.fa-github 
    p.copy Copyright - 
      span.year    
