.modal#modal
	.modal-background
	.modal-card
		header.modal-card-head
			p.modal-card-title title
		section.modal-card-body
			p
		footer.modal-card-foot
			button.button.is-success Accept
			button.button.is.modal-remove Cancel
	button.modal-close.is-large.modal-remove(aria-label="close")
