nav(class="navbar is-black" role="navigation" aria-label="main navigation")
  .navbar-brand
    a(class="navbar-item is-size-4 has-text-weight-semibold" href="./") 
      i.fas.fa-play-circle.icon-brand
      | Recify
    a(role="button" class="navbar-burger" data-target="navMenu", aria-label="menu" aria-expanded="false")
      span(aria-hidden="true")
      span(aria-hidden="true")
      span(aria-hidden="true")
  .navbar-menu#navMenu
    .navbar-start
      a(class="navbar-item" href="./bands.html") Bands
      a(class="navbar-item" href="./places.html") Places
    .navbar-end
      .navbar-item
        .buttons          
          a(class="navbar-item login button is-primary") Login
          div(class="navbar-item has-dropdown is-hoverable user-container")
            a(class="navbar-link user-name")
              figure(class="image is-32x32")
                img(alt="avatar" class="user-avatar" src="")
              | User
            .navbar-dropdown
              a(class="navbar-item logout") Logout
